Package: libmusicplugin-dbgsym
Package-Type: ddeb
Source: libmusicplugin
Version: 0.4.0+0813
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: maoyiming <maoym99@outlook.com>
Installed-Size: 695
Depends: libmusicplugin (= 0.4.0+0813)
Section: debug
Priority: optional
Description: debug symbols for libmusicplugin
Build-Ids: d3bd65d72448ff7f4d743e4e5c8211e65ca43b8f
